<a href="https://colab.research.google.com/github/novrian6/credit_scoring_german/blob/main/credit_scoring_german.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

# Load the dataset
df = pd.read_csv('german_credit_risk.csv', delimiter  = ';')
df

,Creditability,Account_Balance,Duration_of_Credit_monthly,Payment_Status_of_Previous_Credit,Purpose,Credit_Amount,Value_Savings_Stocks,Length_of_current_employment,Instalment_per_cent,Sex_Marital_Status,...,Duration_in_Current_address,Most_valuable_available_asset,Age_years,Concurrent_Credits,Type_of_apartment,No_of_Credits_at_this_Bank,Occupation,No_of_dependents,Telephone,Foreign_Worker
0,1,1,18,4,2,1049,1,2,4,2,...,4,2,21,3,1,1,3,1,1,1
1,1,1,9,4,0,2799,1,3,2,3,...,2,1,36,3,1,2,3,2,1,1
2,1,2,12,2,9,841,2,4,2,2,...,4,1,23,3,1,1,2,1,1,1
3,1,1,12,4,0,2122,1,3,3,3,...,2,1,39,3,1,2,2,2,1,2
4,1,1,12,4,0,2171,1,3,4,3,...,4,2,38,1,2,2,2,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,1,24,2,3,1987,1,3,2,3,...,4,1,21,3,1,1,2,2,1,1
996,0,1,24,2,0,2303,1,5,4,3,...,1,1,45,3,2,1,3,1,1,1
997,0,4,21,4,0,12680,5,5,4,3,...,4,4,30,3,3,1,4,1,2,1
998,0,2,12,2,3,6468,5,1,2,3,...,1,4,52,3,2,1,4,1,2,1
999,0,1,30,2,2,6350,5,5,4,3,...,4,2,31,3,2,1,3,1,1,1

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.

In [25]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
from sklearn.impute import SimpleImputer
from sklearn.base import BaseEstimator, ClassifierMixin

# Load the dataset with semicolon delimiter
df = pd.read_csv('german_credit_data.csv', delimiter=';')

# Splitting the data into features and target
X = df.drop(['Creditability'], axis=1)
y = df['Creditability']

# Handle missing values in features
imputer_X = SimpleImputer(strategy='mean')
X = imputer_X.fit_transform(X)

# Handle missing values in target
imputer_y = SimpleImputer(strategy='most_frequent')
y = imputer_y.fit_transform(y.values.reshape(-1, 1)).flatten()

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardizing the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Define the neural network model
def create_model():
    model = tf.keras.models.Sequential([
        tf.keras.layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
        tf.keras.layers.Dense(32, activation='relu'),
        tf.keras.layers.Dense(1, activation='sigmoid')
    ])

    model.compile(optimizer='adam',
                  loss='binary_crossentropy',
                  metrics=['accuracy'])

    return model

# Create a custom KerasClassifier wrapper for GridSearchCV
class CustomKerasClassifier(BaseEstimator, ClassifierMixin):
    def __init__(self, build_fn=create_model, epochs=10, batch_size=32, validation_split=0.2, verbose=0):
        self.build_fn = build_fn
        self.epochs = epochs
        self.batch_size = batch_size
        self.validation_split = validation_split
        self.verbose = verbose

    def fit(self, X, y):
        self.model = self.build_fn()
        self.model.fit(X, y, epochs=self.epochs, batch_size=self.batch_size,
                       validation_split=self.validation_split, verbose=self.verbose)
        return self

    def predict(self, X):
        return (self.model.predict(X) > 0.5).astype(int)

    def predict_proba(self, X):
        return self.model.predict(X)

    def get_params(self, deep=True):
        return {}

    def set_params(self, **parameters):
        for parameter, value in parameters.items():
            setattr(self, parameter, value)
        return self

# Create the Grid Search object with custom wrapper
keras_model = CustomKerasClassifier()
param_grid = {'epochs': [10, 20], 'batch_size': [32, 64], 'validation_split': [0.1, 0.2]}
grid_search = GridSearchCV(estimator=keras_model, param_grid=param_grid, scoring='recall', cv=3)

# Fit the Grid Search to the training data
grid_result = grid_search.fit(X_train, y_train)

# Get the best parameters from the Grid Search
best_params = grid_result.best_params_

# Train the model with the best parameters
model = CustomKerasClassifier(**best_params)
model.fit(X_train, y_train)

# Make predictions with the best model
y_pred_prob = model.predict_proba(X_test)
y_pred = model.predict(X_test)

# Calculate metrics
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)

print("Best Parameters:", best_params)
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)
print("Confusion Matrix:\n", conf_matrix)

9/9 [==============================] - 0s 2ms/step
9/9 [==============================] - 0s 2ms/step
9/9 [==============================] - 0s 3ms/step
9/9 [==============================] - 0s 2ms/step
9/9 [==============================] - 0s 3ms/step
9/9 [==============================] - 0s 2ms/step
9/9 [==============================] - 0s 2ms/step
9/9 [==============================] - 0s 3ms/step
9/9 [==============================] - 0s 2ms/step
9/9 [==============================] - 0s 2ms/step
9/9 [==============================] - 0s 2ms/step
9/9 [==============================] - 0s 3ms/step
9/9 [==============================] - 0s 2ms/step
9/9 [==============================] - 0s 2ms/step
9/9 [==============================] - 0s 2ms/step
9/9 [==============================] - 0s 2ms/step
9/9 [==============================] - 0s 3ms/step
9/9 [==============================] - 0s 3ms/step
9/9 [==============================] - 0s 2ms/step
9/9 [==============================] - 0s 2ms/step
9/9 [==============================] - 0s 2ms/step
9/9 [==============================] - 0s 2ms/step
9/9 [==============================] - 0s 3ms/step
9/9 [==============================] - 1s 3ms/step
7/7 [==============================] - 0s 2ms/step
7/7 [==============================] - 0s 2ms/step
Best Parameters: {'batch_size': 64, 'epochs': 10, 'validation_split': 0.2}
Accuracy: 0.73
Precision: 0.7658227848101266
Recall: 0.8768115942028986
F1 Score: 0.8175675675675675
Confusion Matrix:
 [[ 25  37]
 [ 17 121]]